/* ***************************************************************************************************  */

/* Navigation */

#navbar {
    flex-direction: column;
}
#navbar ul {
    padding-bottom: 20px;
}
#navbar ul li a {
    font-size: 2rem;
    padding: 0px 50px;
}

/* ***************************************************************************************************  */

/* Home Section */

#home {
    height: 440px;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 65px;
    padding-bottom: 0px;
}
#home::before {
    height: 480px;
}
#home p {
    font-size: 20px;
}

/* ***************************************************************************************************  */

/* Services Section */

.services-container {
    height: 1050px;
}
#services {
    flex-direction: column;
    margin: 0px 100px;
}
#services .box {
    margin: 10px 15px;
}

/* ***************************************************************************************************  */

/* Clients Section */

#client-section {
    height: 275px;
}
#clients {
    flex-wrap: wrap;
}
#clients img {
    width: 85px;

}

/* ***************************************************************************************************  */

/* Utility Classes */
.primary {
    font-size: 35px;
}