/* ***************************************************************************************************  */

/* Navigation */

#navbar {
    flex-direction: column;
}
#navbar ul {
    padding-bottom: 20px;
}
#navbar ul li a {
    font-size: 1rem;
    padding: 0px 17.5px;
}

/* ***************************************************************************************************  */

/* Home Section */

#home {
    height: 325px;
    padding: 0px 5px;
    justify-content:flex-end;
}
#home::before {
    height: 325px;
}
#home p {
    font-size: 15px;
}
.button {
    margin: 10px;
}

/* ***************************************************************************************************  */

/* Services Section */

.services-container {
    margin-top: 10px;
    height: 975px;
}
#services {
    flex-direction: column;
    margin: 0px 25px;
}
#services .box {
    margin: 10px 10px;
    padding: 5px;
}

/* ***************************************************************************************************  */

/* Clients Section */

#clients {
    flex-wrap: wrap;
}
.client-item {
    padding: 2.5px 23px;
}
#clients img {
    width: 75px;
}

/* ***************************************************************************************************  */

/* Contact Box */

#contact {
    height: 495px;
}
#contact-box {
    align-items: normal;
    padding-left: 50px;
    padding-bottom: 0px;
}
#contact-box label {
    font-size: 1.2rem;
}
#contact-box input {
    font-size: 1rem ;
}
#contact-box textarea {
    font-size: 1rem;
}
.form-group {
    width: 275px;
}

/* ***************************************************************************************************  */

/* Utility Classes */
.primary {
    font-size: 20px;
}