/* ***************************************************************************************************  */

/* Navigation */

#navbar {
    flex-direction: column;
}
#navbar ul {
    padding-bottom: 20px;
}
#navbar ul li a {
    font-size: 1.25rem;
    padding: 0px 17.5px;
}

/* ***************************************************************************************************  */

/* Home Section */

#home {
    height: 450px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 60px;
    padding-bottom: 0px;
}
#home::before {
    height: 500px;
}
#home p {
    font-size: 18px;
}

/* ***************************************************************************************************  */

/* Services Section */

.services-container {
    height: 1025px;
}
#services {
    flex-direction: column;
    margin: 0px 25px;
}
#services .box {
    margin: 10px 15px;
    padding: 15px;
}

/* ***************************************************************************************************  */

/* Clients Section */

#clients {
    flex-wrap: wrap;
}
.client-item {
    padding: 2.5px 30px;
}
#clients img {
    width: 75px;
}

/* ***************************************************************************************************  */

/* Utility Classes */
.primary {
    font-size: 25px;
}